:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 16px;
  /* colors */
  --oui-color-primary: 251 154 27;
  --oui-color-primary-light: 252 186 92;
  --oui-color-primary-darken: 200 123 22;
  --oui-color-primary-contrast: 255 255 255;
  --oui-color-link: 251 154 27;
  --oui-color-link-light: 252 186 92;
  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 47 31 14;
  --oui-color-quaternary: 47 31 14;
  --oui-color-danger: 245 97 139;
  --oui-color-danger-light: 250 167 188;
  --oui-color-danger-darken: 237 72 122;
  --oui-color-danger-contrast: 255 255 255;
  --oui-color-success: 41 233 169;
  --oui-color-success-light: 101 240 194;
  --oui-color-success-darken: 0 161 120;
  --oui-color-success-contrast: 255 255 255;
  --oui-color-warning: 251 154 27;
  --oui-color-warning-light: 252 186 92;
  --oui-color-warning-darken: 200 123 22;
  --oui-color-warning-contrast: 255 255 255;
  --oui-color-fill: 12 8 4;
  --oui-color-fill-active: 20 13 6;
  --oui-color-base-1: 47 31 14;
  --oui-color-base-2: 42 28 12;
  --oui-color-base-3: 37 25 11;
  --oui-color-base-4: 32 21 9;
  --oui-color-base-5: 27 18 8;
  --oui-color-base-6: 22 15 6;
  --oui-color-base-7: 20 13 6;
  --oui-color-base-8: 16 11 5;
  --oui-color-base-9: 12 8 4;
  --oui-color-base-10: 8 5 3;
  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 47 31 14;
  --oui-color-trading-loss: 245 97 139;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 41 233 169;
  --oui-color-trading-profit-contrast: 255 255 255;
  /* gradients */
  --oui-gradient-primary-start: 20 13 6;
  --oui-gradient-primary-end: 251 154 27;
  --oui-gradient-secondary-start: 47 31 14;
  --oui-gradient-secondary-end: 251 154 27;
  --oui-gradient-success-start: 1 83 68;
  --oui-gradient-success-end: 41 223 169;
  --oui-gradient-danger-start: 153 24 76;
  --oui-gradient-danger-end: 245 97 139;
  --oui-gradient-brand-start: 252 186 92;
  --oui-gradient-brand-end: 200 123 22;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;
  --oui-gradient-warning-start: 47 31 14;
  --oui-gradient-warning-end: 251 154 27;
  --oui-gradient-neutral-start: 12 8 4;
  --oui-gradient-neutral-end: 20 13 6;
  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;
  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}
html, body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 16px !important;
}